<!DOCTYPE html>
<html class=" gecko win js" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <script src="/javascripts/ga.js" async="" type="text/javascript"></script><script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	<meta charset="UTF-8">	
	<title>S & W incorp.</title>
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	
	<!--[if IE]>
	  <script type="text/javascript" src="http://use.typekit.com/teo3haq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <![endif]-->
	
	<link rel="shortcut icon" href="http://www.S & Winc.com/wp-content/themes/interactive/favicon.ico">
	
	<link rel="stylesheet" href="/stylesheets/makalu.css">
  <script type="text/javascript" src="html5media.txt"></script>
	<script type="text/javascript" src="/javascripts/browserselector.js" charset="utf-8"></script>
	<script type="text/javascript" src="/javascripts/jquery_002.js" charset="utf-8"></script>
	<script type="text/javascript" src="javascripts/jquery.js" charset="utf-8"></script>
	<script type="text/javascript" src="/javascripts/makalu.js" charset="utf-8"></script>
	
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.S & Winc.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.S & Winc.com/wp-includes/wlwmanifest.xml"> 
<link rel="index" title="S & W Incorp." href="http://www.google.com/">
<meta name="generator" content="WordPress 3.1.2">


<link rel="canonical" href="http://www.heroku.com/">

<style type="text/css">
#portfolio ul.projects li .chrome {
    background: url("/images/chrome.png") no-repeat scroll left top transparent;
    height: 300px;
    position: relative;
    width: 320px;
}
#intro li:first-child {
    background: none repeat scroll 0 0 transparent !important;
    color: #FEFEFE !important;
    font-family: 'DaxCondBlack';
    font-size: 70px !important;
    letter-spacing: -2px;
    line-height: 136px;
    position: relative;
    text-align: left;
    text-shadow: 0 1px 1px #1E1E1E !important;
}

.container { background: none repeat scroll 0 0 #3E3E3E !important;}
.round { background: none repeat scroll 0 0 #3E3E3E !important;}
</style>
</head>
<body class="home blog post-category-uncategorized">
  <div id="wrapper">
    <div id="header">
      <h1>
        <a href="http://www.google.de/">Google</a>
      </h1>
      <p>
              </p>
    </div>

  <ul id="intro" class="container">
    <li>We are <strong>}</strong></li>
    <li class="design-thinkers">
      <h3>Design Thinkers</h3>
      <p>Question everything. Know what’s possible, challenge what’s not. That’s how we tackle design problems.</p>
    </li>
    <li class="product-makers">
      <h3>Product Makers</h3>
      <p>Million-user consumer services. Online games played at 39,000 feet. Web &amp; mobile apps.<br>You name it, we build it.</p>
    </li>
    <li class="passion-for-hire">
      <h3>Passion For Hire</h3>
      <p>From design, to development, and everything in between, we’re the team you’ve been looking for.</p>
    </li>
  </ul>
  
  <div id="case-studies">
    <div class="container">
      <h2>Case Study</h2>
      <div style="width: 1102px;" id="case-study-1" class="case-study">
        <div class="index">
          <h3>KreDa in the cloud</h3>
          <p>
            We designed and developed the app with which IKB-Düsseldorf maintain their credit-portfolio.
          </p>
          <ol class="toc">
            <li>
              <a href="#0" class="active">
                <span class="circle">1</span>
                <span class="label">Overview</span>
              </a>
            </li>
            <li>
              <a href="#320">
                <span class="circle">2</span>
                <span class="label">Design challenges</span>
              </a>
            </li>
            <li>
              <a href="#640">
                <span class="circle">3</span>
                <span class="label">Technology</span>
              </a>
            </li>
            <li>
              <a href="#960">
                <span class="circle">4</span>
                <span class="label">Gameday</span>
              </a>
            </li>
            <li>
              <a href="#1600">
                <span class="circle">5</span>
                <span class="label">Summary</span>
              </a>
            </li>
          </ol>
          <a rel="external" href="http://www.dayinthecloud.com/" class="visit">
            <img src="/images/visit.png">
            <span>www.google.com</span>
          </a>
        </div>
        <div class="content">
          <div class="section">
            <div class="column span-2">
              <p style="margin-top:-20px"><img src="/images/img1.png" alt=""></p>
            </div>
            <div class="column span-1">
              <h4>Overview</h4>
              <p>ON WEDNESDAY, JUNE 24th, Google Apps and Virgin America
 invited the brave and the willing, the airborne and the earthbound to 
embark on the Day in the Cloud Challenge, the first online scavenger 
hunt played simultaneously in the air and, well, everywhere else. Google
 chose Makalu to design, develop and operate the online game which 
anchored the ambitious campaign.</p>
            </div>
            <div class="column span-1">
              <h4>Design Challenges</h4>
              <p>The game needed to be fun, engaging, accessible, 
responsive, supportive of the strategic objectives, and compatible with 
the context of in-flight play. Through an intense, iterative (and fun!) 
process involving the creation of game mechanics, visual and interaction
 design, and technical front-end and back-end development, a beautiful 
product emerged.</p>
            </div>
          </div>
          <div class="column span-1">
            <h4>Technology</h4>
            <p>In addition to game mechanics and interaction design, the project presented a variety of technical challenges as well.</p>
            <p><img src="/images/img3.png" alt=""></p>
            <p>To provide a dynamic and engaging, yet lightweight and 
responsive user interface, the client-side component of the game was 
developed using JavaScript and the jQuery library. In order to rapidly 
scale performance under heavy load, the server-side application was 
developed in Python, and hosted in the Google AppEngine environment.</p>
            <p>The application supported a number of external 
interfaces, including a game data initializer from Google Docs, and an 
external real-time monitoring application, developed and hosted at 
Makalu.</p>
          </div>
          <div class="section">
            <div class="column span-1">
              <p class="flash">
              	<p style="margin-top:-20px" height="360" width="620" > <img src="/images/dlm_gross.jpg" alt=""></p>               
              </p>
            </div>
            <div class="section">
              <h4>Gameday</h4>
              <div class="column span-1">
                <p>At midnight on June 24, the switch was flipped, and 
the game was launched. Throughout the day, players throughout the United
 States — including passengers on all Virgin America flights — competed 
against each other in an online scavenger hunt, using Google Apps to 
help answer as many questions as possible</p>
              </div>
              <div class="column span-1">
                <p>during the one-hour game. At 6:00 am, two special 
press flights — with some of the world’s top puzzlers onboard — left Los
 Angeles and San Francisco, in direct competition against each other and
 documented in the above video by BoingBoing.</p>
              </div>
            </div>
          </div>
          <div class="section">
            <div class="column span-2">
              <p><img src="/images/img4.jpg alt=""></p>
            </div>
            <div class="section">
              <h4>Summary</h4>
              <div class="column span-1">
                <p>All of the hard work and passion put into the project
 from the teams at Google, Virgin America and S & W was rewarded in the
 experience of a perfectly executed campaign. Reviews were glowing, and 
the positive buzz surrounding the campaign reinforced the positions of 
Google and Virgin America</p>
              </div>
              <div class="column span-1">
                <p>as innovative leaders in their respective markets. 
Announcements of the winners, video interviews and a 
permanently-playable version of the game are maintained at the Day in 
the Cloud site. Be sure to check it out.</p>
              </div>
            </div>
          </div>
          <div class="column span-1 the-end"></div>
        </div>
        <div class="content-shade right"></div>
        <div class="content-shade left"></div>
        <a href="#" class="arrow prev">Previous »</a>
        <a style="right: 10px;" href="#" class="arrow next">Next »</a>
      </div>
    </div>
  </div>
  
  <div class="container">
            <div style="height: 692px;" id="portfolio">
      <h2>Portfolio</h2>
      <ul class="paginator">
                  <li class="active">
            <a href="#" id="portfolio-56">
              1            </a>
          </li>
                  <li>
            <a href="#" id="portfolio-41">
              2            </a>
          </li>
                  <li>
            <a href="#" id="portfolio-44">
              3            </a>
          </li>
                  <li>
            <a href="#" id="portfolio-46">
              4            </a>
          </li>
                  <li>
            <a href="#" id="portfolio-48">
              5            </a>
          </li>
                  <li>
            <a href="#" id="portfolio-50">
              6            </a>
          </li>
                  <li>
            <a href="#" id="portfolio-52">
              7            </a>
          </li>
                  <li>
            <a href="#" id="portfolio-112">
              8            </a>
          </li>
              </ul>
      <div id="portfolio-mask">
        <ul class="projects">
                                <li>
                                          <div class="chrome browser">
                <h4>TodoApp</h4>
                                  <a rel="external" href="http://furious-day-586.heroku.com//">furious-day-586.heroku.com/</a>
                                <div class="content"><img src="/images/todo_app.jpg" alt="Todo-App	" class="screenshot"></div>
              </div>
              <p>We’re tremendously proud to present TodoApp 
—&nbsp;S & W's very first product. TodoApp is an exquisitely 
designed todolist. Now you know what todo which
was previously possible only through expensive professional service 
providers.</p>

<p>Within three months of launch, it became an international hit 
—&nbsp;selling in over 15 countries, and used to time more than 14,000 
unique racers. Our customers <a rel="external" href="http://todoapp.com/testimonials" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','todoapp.com']);">absolutely love it!</a></p>

                              <a rel="external" href="http://www.todoapp.com/" class="visit">
                  <img src="/images/visit-small.png">
                  <span>www.todoapp.com</span>
                </a>
                          </li>
                      <li>
                                          <div class="chrome browser">
                <h4>Entscheidungsvorlage</h4>
                                  <a rel="external" href="http://www.entscheidungsvorlage.org/">www.catalogchoice.org</a>
                                <div class="content"><img src="/images/ev.jpg" alt="Entscheidungsvorlage" class="screenshot"></div>
              </div>
              <p>Working with the Ecology Center, National Wildlife 
Federation and the Natural Resources Defense Council, S & W designed 
and developed the original Catalog Choice product, allowing American 
consumers to manage their mail preferences. Featured on <a href="http://www.makaluinc.com/wp-content/uploads/videos/catalogchoice_nbc.mp4" class="popup" data-width="478" data-height="361" onclick="javascript:_gaq.push(['_trackEvent','portfolio_vid,'cc_nbc']);">NBC</a>, <a href="http://www.makaluinc.com/wp-content/uploads/videos/catalogchoice_abc.mp4" class="popup" data-width="478" data-height="358" onclick="javascript:_gaq.push(['_trackEvent','portfolio_vid,'cc_abc']);">ABC Good Morning America</a>, <a href="http://www.makaluinc.com/wp-content/uploads/videos/catalogchoice_cnn.mp4" class="popup" data-width="478" data-height="391" onclick="javascript:_gaq.push(['_trackEvent','portfolio_vid,'cc_cnn']);">CNN</a>, and <a rel="external" href="http://www.nytimes.com/2007/10/18/fashion/18ROW.html" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','www.nytimes.com']);" target="_blank">The New York Times</a>,
 the site was phenomenally successful. Our design helped it achieve one 
million members, with a 70% signup conversion rate, in its first year.</p>
                              <a rel="external" href="http://www.catalogchoice.org/" class="visit">
                  <img src="/images/visit-small.png">
                  <span>www.catalogchoice.org</span>
                </a>
                          </li>
                      <li>
                                          <div class="chrome browser">
                <h4>Monitoring</h4>
                                  <a rel="external" href="http://www.monitoring.org/">www.Monitoring.org</a>
                                <div class="content"><img src="/images/dlm.jpg" alt="Monitoring" class="screenshot"></div>
              </div>
              <p>No is monitoring of our complex Deals no longer a hard work. We put our issues into the 
               Monitoring sheet</p>
                              <a rel="external" href="http://www.monitoring.org/" class="visit">
                  <img src="/images/visit-small.png">
                  <span>www.Monitoring.org</span>
                </a>
                          </li>
                      <li>
                                          <div class="chrome none">
                <h4>Your Success Story</h4>
                                  <a href="#getintouch">#getintouch</a>
                                <div class="content"><img src="/images/yourstory.png" alt="Your Success Story" class="screenshot"></div>
              </div>
              <p>Product conception, user experience design, front-end 
development, back-end applications. Web, desktop &amp; mobile 
applications. Turn-key provider, or integration in a larger team.</p>

<p>S & W loves working in all aspects of product development, and loves
 seeing our customers succeed. If you’ve got an exciting project in 
mind, talk to us today!</p>
                          </li>
                  </ul>
      </div>
    </div>
    
    <div id="people">
            <h3>
        <span>The Secret Sauce</span>
      </h3>
      <p>Ask Armin Wildenberg, and he’ll tell you straight-up that the best
 dishes are made with just a few key ingredients, that work perfectly 
together. So are the best teams. S & W Interactive is a nimble team of 
eight friendly and capable people, who love working together to create 
wonderful products.</p>
      <ul>
                          <li class="odd">
            <div class="avatar">
              <img src="/images/frank_bw.jpg" class="bw" alt="Frank">
              <img src="/images/frank.jpg" class="color" alt="Frank">
              <img src="/images/info.png" alt="More information..." class="info">
            </div>
            <h4>Frank</h4>
            <p>
              Director, project manager &amp;<br>
user experience consultant            </p>
            <dl>
              <dt class="email">Email:</dt>
              <dd class="email"></dd>
                              <dt class="website">Website:</dt>
                <dd class="website"><a rel="external" href="http://www.thisux.com/">www.thisux.com</a></dd>
                                            <dt class="twitter">Twitter:</dt>
                <dd class="twitter"><a rel="external" href="http://twitter.com/mhenders"><span>twitter.com/</span>mhenders</a></dd>
                          </dl>
          </li>
                  <li class="even">
            <div class="avatar">
              <img src="/images/andreas_bw.jpg" class="bw" alt="Andreas">
              <img src="/images/andreas.jpg" class="color" alt="Andreas">
              <img src="/images/info.png" alt="More information..." class="info">
            </div>
            <h4>Andreas</h4>
            <p>
              User experience designer<br>
&amp; front-end developer            </p>
            <dl>
              <dt class="email">Email:</dt>
              <dd class="email"></dd>
                              <dt class="website">Website:</dt>
                <dd class="website"><a rel="external" href="http://www.minimaltwist.com/">www.minimaltwist.com</a></dd>
                                            <dt class="twitter">Twitter:</dt>
                <dd class="twitter"><a rel="external" href="http://twitter.com/minimaltwist"><span>twitter.com/</span>minimaltwist</a></dd>
                          </dl>
          </li>

              </ul>
      <div id="speechbubble">
        <div class="inner">
          <strong>Hello <span class="name"></span>!</strong>
          Nice to meet you and thanks for your message! You should receive a reply from us within two business days.
          <img src="/images/speechbubble-tail.png" alt="">
        </div>
      </div>
    </div>
    
    <div id="quotes">
      <div id="quote-mask">
        <ul style="left: 0px;" id="quote-list">
                                          <li style="opacity: 1;" class="odd">
              <p>Lots of companies can “write code,” but few can design,
 build and operate internet applications that fulfill their purpose like
 Makalu. Tell them about your vision, and watch it come to life.</p>
              <strong>Chuck Teller, <a href="#41">Catalog Choice</a></strong>
            </li>
                      <li class="even">
              <p>Now we have an Monitoring far beyond our competitors.</p>
              <strong>Steven Jessett, Manager <a href="#44">DLM</a></strong>
            </li>
                      <li style="opacity: 1;" class="odd">
              <p>We love working with S & W. What we particularly value
 is their ability to efficiently and effectively integrate into our team
 and our workflow. With minimal input and guidance, they have an 
exceptional ability to anticipate our needs, and do the right thing.</p>
              <strong>Corbin de Rubertis, <a href="#50">Qponix</a></strong>
            </li>
                  </ul>
      </div>
    </div>
  </div>
  
  <!--
  <div id="news" class="container">
        <ul>
          </ul>
  </div>
  -->

  <a name="getintouch"></a>
  <div style="height: 209px;" id="contact-container" class="container">
        <h2>Get in Touch</h2>
    <div id="contact-mask">
      <div id="contact">
        <div class="form">
          <p>Whether you’ve got an exciting project to discuss, or just want to say hello, we’d love to hear from you.<br>Be sure to have a quick read of <a href="#" class="working-together">working together »</a></p>
          <form action="/contact.php" method="post">
            <input name="site" value="Interactive" type="hidden">
            <input name="referer" value="http://www.web3mantra.com/tag/beautiful-css-based-designs-div-web/" type="hidden">
            <p class="textfield autoclear">
              <label for="name" class="autoclear">Your name...</label>
              <input name="name" id="name" type="text">
            </p>
            <p class="textfield autoclear">
              <label for="email" class="autoclear">Your email address...</label>
              <input name="email" id="email" type="text">
            </p>
            <p class="textarea autoclear">
              <label for="message" class="autoclear">What would you like to talk about?</label>
              <textarea name="message" id="message"></textarea>
              <a href="#" class="submit"><span>Send</span></a>
            </p>
          </form>
        </div>
        <div class="success" style="display:none">
          <h3>Thank you!</h3>
        </div>
      </div>
      <div id="workingtogether">
                <h2 style="display:none">
          <a href="#" class="back">« Back</a>
          Working Together        </h2>
        <p class="intro">
The following is a brief letter to potential new customers, describing 
what we’re looking for, what you, as a customer, can expect from us, and
 how we prefer to work together.
</p>

<div class="column first">
<h3>What we’re looking for.</h3>

<p>
Happiness, like everybody else. For us, that comes from working on 
interesting and challenging projects, with friendly, capable and 
passionate customers. 
</p>

<p>
We want to spend as much of our time as possible in the creation of 
great products that bring a lot of success to our customers. We want to 
spend as little time as possible in unnecessary formalities, paperwork, 
bureaucracy, legal reviews, and the like.
</p>

<p>
In terms of projects, we’re happy designing and building complete 
products (web and mobile), or doing just the front-end design and 
development for new (or existing) products, the back-ends of which will 
be implemented by others.
</p>
</div>

<div class="column">
<h3>What you can expect.</h3>

<p>
To be tremendously happy that you chose us.
</p>

<p>
You can expect great work and value; you’ll feel good about what you 
paid. You can expect to really enjoy working with us. You can expect 
good communications. You can expect us to anticipate your needs, and to 
achieve things effectively within constraints. You can expect sincerity 
and honesty. You can expect a great partner.
</p>
</div>

<div class="column last">
<h3>Working together.</h3>

<p>
To assess the feasibility of our involvement in a new project, we need a
 rough idea of the scope, budget and scheduling constraints. (And if you
 simply don’t know how much something might cost, we can certainly 
provide guidance.)
</p>

<p>
We tend to avoid fixed-priced contracts, preferring to charge hourly within the context of an agile process.
</p>
</div>

<p class="outro">
If this all sounds attractive, and you feel we’d be a good match, then we’d love to hear from you!
<a href="#" class="back">Get in touch!</a>
</p>
      </div>
    </div>
  </div>
  
  <div id="footer" class="container">
    <ul>
      <li><a rel="external" href="http://s_and_w.com/aerospace/" title="Go to S & W Aerospace" class="aerospace">S & W Aerospace</a></li>
      <li><span title="This is S & W Interactive">S & W Interactive</span></li>
    </ul>
    <p>© 2011 S&WMedia Inc. All Rights Reserved.</p>
    <img class="interactive" src="/images/logo-mini.png" alt="S & W Interactive">
    <img class="aerospace" src="/images/logo-aerospace-mini.png" alt="S & W Aerospace">
    <a rel="external" class="twitter" href="http://www.twitter.com/S & W">
      <span>Follow us on Twitter</span>
    </a>
  </div>
  
  <div id="corner-top-left" class="corner"></div>
  <div id="corner-top-right" class="corner"></div>
  <div id="corner-bottom-left" class="corner"></div>
  <div id="corner-bottom-right" class="corner"></div>
  </div>
  <div id="popup-wrapper">
    <div id="popup"></div>
    <a href="#" id="popup-close">Close</a>
  </div>
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20938798-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
<script type="text/javascript">
var _sf_async_config={uid:3507,domain:"S & Winc.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>


<script src="/javascripts/chartbeat.js" type="text/javascript" language="javascript"></script></body></html>
